<%= simple_form_for @notification do |f| %>
  <div class="content-form">
    <div class="form-group">
      <div class="col-xs-12 col-sm-3">
        <%= f.label :enabled, class: 'control-label' %>
      </div>

      <div class="col-xs-12 col-sm-9">
        <div class="switch-button switch-button-sm">
          <%= f.check_box :enabled %>
          <span><label for="email_notification_enabled"></label></span>
        </div>
      </div>
    </div>

    <% unless @notification.excavator_notification_after_ticket_close? || EmailNotification::USER_TEMPLATES.include?(@notification.template.to_sym) %>
      <%= f.input :notifiable_role_id, label: 'Role to be notified', collection: current_account.roles, input_html: {class: 'select2', 'data-placeholder' => 'Select roles'} %>
      <%= f.input :notifiable_user_id, label: 'User to be notified', collection: current_account.users, input_html: {class: 'select2', 'data-placeholder' => 'Select users'} %>

      <% unless EmailNotification::AUDIT_TEMPLATES.include?(@notification.template.to_sym) %>
        <div class="form-group">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :notify_assignee, class: 'control-label' %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="switch-button switch-button-sm">
              <%= f.check_box :notify_assignee %>
              <span><label for="email_notification_notify_assignee"></label></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>



    <%= f.input :subject, label: 'E-mail subject' %>
    <%= f.input :text,    label: 'E-mail body', input_html: {class: 'summernote'} %>
  </div>

  <div class="content-form-footer">
    <button>Save</button>
  </div>
<% end %>
