<div class="widget-heading widget-primary">
  <span class="title">My Open tickets by type</span>
</div>
<div class="widget-body widget-primary widget-pie">
  <div class="row chart-container">
    <% if @data[:ticket_types].length > 0 %>
      <div class="col-xs-12 col-md-6">
        <div id="my-ticket-request-types-pie-chart" class="chart"></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="legend"></div>
      </div>
    <% else %>
      <p class="text-muted text-center">You don't have open tickets.</p>
    <% end %>
  </div>
</div>
<% if @data[:ticket_types].length > 0 %>
  <%= javascript_tag do -%>
    var data = [
    <% @data[:ticket_types].each_with_index do |ticket, i| %>
      {
        label: "<%= ticket.ticket_type || '-No Type-' %>  (<%= ticket.count %>)",
        data: <%= ticket.count %>,
        color: REQUEST_TYPE_COLORS['<%= ticket_type_color(ticket) %>'],
        ticket_type: "<%= ticket.ticket_type %>",
        user_id: "<%= current_user.id %>"
      },
    <% end %>
    ];
    var plotObj = $.plot($("#my-ticket-request-types-pie-chart"), data, {
      series: {
        pie: {
          show: true,
          innerRadius: 0.5,
          highlight: {
            opacity: 0.3
          },
          stroke: {
            width: 0
          }
        }
      },
      grid: {
        hoverable: true
      },
      legend: {
        container: $("#my-ticket-request-types-pie-chart").parent().next().find(".legend"),
        labelFormatter: function(label, series) {
          return '<a href="<%= tickets_simple_search_path('status_in' => 'assigned', 'assignee_id_in' => 'ID_USER', 'ticket_type_in' => 'TICKET_TYPE') %>">'.replace('TICKET_TYPE', series.ticket_type).replace('ID_USER', series.user_id) + label + '</a>';
        }
      },
      tooltip: true,
      tooltipOpts: {
        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
        shifts: {
          x: 20,
          y: 0
        },
        defaultTheme: true
      }
    });
  <% end -%>
<% end %>
