<a href="<%= tickets_open_and_revised_path(call_center: @data[:call_center]) %>">
  <div class="widget-body widget-<%= color_based_on_number(@data[:number_of_tickets], 0, 'primary', 'warning') %> widget-number">
    <div class="data-info">
      <div class="value"><%= @data[:number_of_tickets] %></div>
      <div class="desc">Open revised Tickets</div>
    </div>
    <div class="icon icon-<%= color_based_on_number(@data[:number_of_tickets], 0, 'primary', 'warning') %>">
      <i class="fa fa-ticket"></i>
    </div>
    <div class="call-center"><%= dashboard_widget_call_center_name(@data) %></div>
  </div>
</a>
