<%= content_for(:page_title) do %>
  Create user
<% end %>

<div class="am-content">
  <%= render "common/users_and_roles_nav" %>
  <%= render "page_subhead" %>
  <div class="main-content">
    <div class="content-block">
      <div class="content">
        <div class="content-heading">
          <div class="caption">
            <div class="title">
              <h4>New User</h4>
            </div>
          </div>
          <div class="tools"></div>
        </div>
        <div class="content-body">
          <% if current_account.reached_user_limit? %>
            <div class="alert alert-warning">
              You have reached the maximum number of users you can have with your account level. You can either delete some of your users or <%= link_to 'upgrade your account', plan_account_path %> to be able to create a new user.
            </div>
          <% else %>
            <%= simple_form_for @user do |f| %>
              <div class="content-form">
                <%= render 'form', f: f %>
              </div>

              <div class="content-form-footer">
                <div class="form-group">
                  <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                    <button class="btn btn-primary">Save</button>
                    <a href="#" class="btn btn-default js-back-link">Cancel</a>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
