<%= content_for(:page_title) do %>
  User details
<% end %>

<div class="am-content">
  <%= render "common/users_and_roles_nav" %>
  <%= render "page_subhead" %>
  <div class="main-content">
    <div class="content-block">
      <div class="content">
        <div class="content-heading">
          <div class="caption">
            <div class="title">
              <h4>User "<%= @user.name %>"</h4>
            </div>
          </div>
          <div class="tools">
            <% if policy(@user).edit? %>
              <%= link_to(request_password_reset_user_path(@user), data: {message: "Are you sure you want to send a password reset e-mail to #{@user.name}?"}, class: "btn btn-warning js-btn-forgot-password", tooltip: "Send password reset e-mail") do %>
                <i class="fa fa-envelope-o"></i>
              <% end %>

              <a class="btn btn-circle btn-icon-only btn-primary" href="<%= edit_user_path(@user) %>" data-tooltip="tooltip" data-placement="bottom" title="Edit user">
                <i class="fa fa-pencil"></i>
              </a>
            <% end %>
          </div>
        </div>
        <div class="content-body">
          <div class="content-detail">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <h3><i class="fa fa-info"></i> General Information</h3>
                <dl class="dl-horizontal">
                  <dt>E-mail</dt>
                  <dd><%= @user.email %></dd>
                  <dt>Time zone</dt>
                  <dd><%= @user.time_zone %></dd>
                  <dt>Active?</dt>
                  <dd><i class="fa <%= @user.active ? "fa-check text-primary" : "fa-close text-danger" %>"></i></dd>
                </dl>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h3><i class="fa fa-lock"></i> Roles</h3>
                <p>
                  <% @user.roles.each do |role| %>
                    <label><%= role.name %></label>
                  <% end %>
                </p>
                <h3><i class="zmdi zmdi-phone"></i> Call Centers</h3>
                <p>
                  <% @user.call_centers.select(:name).each do |call_center| %>
                    <%= bootstrap_label(call_center.name, 'primary') %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "common/confirm_modal" %>

<%= content_for(:js) do %>
  <script type="text/javascript">
    jQuery(document).on("click", ".js-btn-forgot-password", function(event) {
      event.preventDefault();

      var message = jQuery(this).data("message") || "Are you sure you want to send a password reset e-mail to this user?";
      var url = jQuery(this).attr("href");

      jQuery("#modal_warning .js-confirm-text").html(message);
      jQuery("#modal_warning .js-confirm-form").attr("action", url);
      jQuery("#modal_warning .js-confirm-form").attr("method", "post");
      jQuery("#modal_warning .js-confirm-form .js-method").val("patch");
      jQuery("#modal_warning").modal("show");
    });
  </script>
<% end %>
