<%= content_for(:page_title) do %>
  Forgot password
<% end %>

<div class="am-wrapper am-login">
  <div class="am-content">
    <div class="main-content">
      <div class="login-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= image_tag "logo_clr.png", height: "50px", class: "logo-img" %>
            <p>Forgot your password?</p>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="login-form">
                <%= devise_error_messages! %>
                <div class="form-group form-md-line-input form-md-floating-label">
                    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
                    <i class="icon zmdi zmdi-email"></i>
                    <label for="form_control_1">E-mail</label>
                </div>
                <div class="form-group login-submit">
                  <button data-dismiss="modal" type="submit" class="btn btn-primary btn-lg">Send me reset password instructions</button>
                </div>
                <div class="form-group footer row">
                  <div class="col-xs-12 text-center"><a href="<%= new_user_password_path %>">Sign in</a></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
