<div class="grid-stack-item"
  data-gs-x="<%= widget.settings['x'] || 0 %>"
  data-gs-y="<%= widget.settings['y'] || 0 %>"
  data-gs-width="<%= DASHBOARD_WIDGETS[widget.type][:width][:lg] %>"
  data-gs-height="<%= DASHBOARD_WIDGETS[widget.type][:height] %>">
  <div class="grid-stack-item-content dashboard-widget" data-widget-id="<%= widget.id %>" data-widget-type="<%= widget.type %>">
    <div class="widget">
      <%= link_to dashboard_widget_path(widget), method: :delete, remote: true, title: 'Remove from dashboard', class: 'btn btn-clear btn-delete' do %>
        <i class="md md-close"></i>
      <% end %>
      <% if widget.has_settings? %>
        <a href="#" class="btn btn-clear btn-cogs" data-toggle="modal" data-target="#widget-settings-modal"><i class="md md-settings"></i></a>
      <% end %>

      <% data = DashboardWidgetDataGatherer.new(current_account, current_user, widget).data %>
      <% if data %>
        <%= render partial: "dashboard_widgets/widgets/#{widget.partial}", locals: {widget: widget, data: data} %>
      <% else %>
        FIXME: <%= widget.partial %>
      <% end %>
    </div>
  </div>
</div>
