<% content_for(:additional_content_classes) { 'main-content-widgets' } %>
<% content_for(:tools)  { render 'dashboard_widgets/tools' } %>
<% content_for(:page_head) { render 'layouts/page_head', icon: 'zmdi zmdi-view-dashboard', title: 'Dashboard' } %>

<div class="content-block content-block-warning content-block-settings">
  <div class="content">
    <div class="content-body settings-block">
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label">Auto-refresh in:</label>
        </div>
        <div class="form-group">
          <%= select_tag 'autorefresh', options_for_autorefresh_select('dashboard_widgets'), class: 'form-control form-control-sm autorefresh-settings-select' %>
        </div>
        <%= javascript_tag do %>
          autorefreshInterval = <%= @autorefresh_interval %>;
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @widgets.any? %>
  <div class="content-block content-block-widgets">
    <div class="grid-stack">
      <%= render partial: 'widget', collection: @widgets, as: :widget %>
    </div>
  </div>
<% else %>
  <div class="empty-block text-center">
    <h4>No dashboard widgets...</h4>
    <hr>
    <p>Go ahead and add some relevant data to your dashboard.</p>
  </div>
<% end %>

<%= render 'dashboard_widgets/widget_settings_modal' %>
<%= render 'dashboard_widgets/add_widget_modal' %>

<% content_for(:js) do %>
  <%= javascript_include_tag 'flot.js' %>
<% end %>
